<h3>Add Task Details</h3>

<%=form_for @task do |f|%>

<%if @task.errors.any? %>
	<div class="errors" style="color: red;">
	<h3>These errors prohibited the form from being saved:</h3>
	<ul>
		<%@task.errors.full_messages.each do |msg|%>
			<li><%= msg%></li>
		<%end%>
	</ul>
	</div>
	<%end%>

	<%=f.label :task_type%><br>
	<%=f.collection_select :task_type, TaskType.all, :id, :name, prompt: "Select Task Type"%><br>

	<%=f.label :title%><br>
	<%=f.text_field :title%><br>

	<%=f.label :description%><br>
	<%=f.text_area :description%><br>

	<%=f.label :task_category%><br>
	<%=f.collection_select :task_category, TaskCategory.all, :id, :name, prompt: "Select Task Category"%><br>

	<%=f.label :property_id%><br>
	<%=f.collection_select :property_id, Property.all, :id, :name, prompt: "Select Property" %><br>

	<%=f.hidden_field :user_id, value: current_user.id%>

	<%=f.label :due_date%><br>
	<%=f.date_select :due_date%><br>

	<%=f.label :status%><br>
	<%=f.select :status, ["New","On-Going","Completed","Deffered"], prompt: "Select Status"%><br>

	<%=f.label :priority%><br>
	<%=f.select :priority, ["Low","Normal","High"], prompt:"Select Priority"%><br><br>

	<%=f.submit%>

<%end%>