<div class="row">
<div class="page-header">
<h2>Tenants
<div class="pull-right">
<%= link_to 'Add New Tenant', new_user_path, class: "btn btn-primary" %>
</div> <!-- button ends -->
</h2>
</div><!-- pageheader ends -->
</div> <!-- row ends -->
<hr>
<div class="row">
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Sl No</th>
			<th>Name</th>
			<th>Email</th>
			<th>Contact No</th>
			<th>PAN No</th>
			<th>Role</th>
			<th>ID Proof</th>
		</tr>
	</thead>
	<tbody>
		<%@users.each_with_index do |user,index|%>
		<tr>			
			<td><%=index+1%></td>
			<td><%=user.userdetail.try(:name)%></td>
			<td><%=user.email %></td>
			<td><%=user.userdetail.try(:mobile)%></td>
			<td><%=user.userdetail.try(:pan_no)%></td>
			<td><%=user.roles.pluck(:name).join(",")%></td>
			<td><%=link_to "Download PDF",(user.userdetail.id_proof.url) if user.userdetail.id_proof %></td>
			<td><%= link_to "Show", userdetail_path(user.userdetail.id)%></td>
			<td><%= link_to "Edit", edit_user_path(user.id)%></td>
			<td><%= link_to "Remove User", user_path(user.id), method: :delete, data:{confirm: "Are You Sure"}%></td>
		</tr>
	<%end%>
	</tbody>
</table>
</div> <!-- end of table row -->
