<h2>Add new user</h2>

<%= form_for @user do |f|%>

	<%=f.label :email%><br>
	<%=f.email_field :email%><br>

	<%=f.label :password%><br>
	<%=f.text_field :password%><br>

<%if current_user.roles.find_by_name("admin")%>	

	<%= f.label :roles%><br>
	<%=f.collection_check_boxes :role_ids, Role.all,:id, :name %><br><br>

<%elsif current_user.roles.find_by_name("owner") %>

	<%= f.label :roles%><br>
	<%= f.collection_check_boxes :role_ids, Role.where('name = ?',"tenant"),:id, :name %><br><br>

<%end%>		

	<%=f.submit "Add User"%>

<%end%>	