<h2><%=@property.name %></h2>

<ul>
	<li><b>Name: </b><%=@property.name%></li><br>
	<li><b>Property Type: </b><%=@property.property_type%></li><br>
	<li><b>Built Up Area: </b><%=@property.built_up_area%></li><br>
	<li><b>Owner Name: </b><%#@property.userdetail.name%></li><br>
	<li><b>Is Availabe?: </b><%=@property.is_available%></li><br>
	<li><b>Property Reserve: </b><%=@property.property_reserve%></li><br>
	<li><b>Description: </b><%=@property.description%></li><br>
	<li><b>Address: </b><%=@property.address%></li><br>
	<li><b>Water Bill Details: </b><%=@property.water_bill_details%></li><br>
	<li><b>Electricity Bill Details: </b><%=@property.electricity_bill_details%></li><br>
</ul>