<h2>Add Further datails</h2>

<%= form_for @userdetail do |f|%>

	<%=f.label :name%><br>
	<%=f.text_field :name%><br>

	<%=f.label :mobile%><br>
	<%=f.text_field :mobile%><br>

	<%=f.label :email%><br>
	<%=f.email_field :email%><br>

	<%=f.label :date_of_birth%><br>
	<%=f.date_select :date_of_birth%><br>

	<%=f.label :pan_no%><br>
	<%=f.text_field :pan_no%><br>

<<<<<<< HEAD
=======
	<%=f.hidden_field :user_id, value: current_user.id%><br>

>>>>>>> payments
	<%=f.submit "Add my details"%><br>

<%end%>	