<div class="row">
<div class="col-md-10">
<!-- Jumbotron begins Here -->

  <div class="jumbotron">
    <h1>Welcome To PROPOR</h1>
    <p>Propor is a property management software which can be used by property owners and tenants to make their life easier</p>
    <p><a href="#">Learn more</a></p>
  </div>
  <!-- Jumbotron Ends Here -->
 
</div> <!-- Col 10 Ends -->
<div class="col-md-2">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div> <!-- col 2 ends -->

</div> <!-- row ends -->

