<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @payment.owner_id %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @payment.tenant_id %>
</p>

<p>
  <strong>Reference number:</strong>
  <%= @payment.reference_number %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @payment.payment_date %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
